body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  height: fit-content;
  scroll-behavior: smooth;
  background-color: #1f2e3f;
}
.about-us-page-block-1 {
  position: fixed;
  height: fit-content;
  top: 0px;
  left: 0px;
}
.about-us-image1 img {
  position: relative;
  top: -80px;
}
.about-us-heading1 {
  position: relative;
  color: white;
  float: left;
  top: 200px;
  height: fit-content;
  width: fit-content;
  font-size: 65px;
  font-family: "Italiana", serif;
}
.about-us-text2 {
  padding-left: 50px;
  color: white;
  height: fit-content;
  padding-left: 0px;
}
.about-us-heading2 {
  height: fit-content;
  width: 500px;
  line-height: normal;
  font-family: "Italiana", serif;
  font-size: 60px;
}

.about-us-heading2-content {
  padding-right: 80px;
  padding-top: 30px;
  color: white;
  font-family: "Arial", serif;
  text-align: justify;
  font-size: 12px;
}
.about-us-image2 img {
  position: absolute;
  margin-top: 25vh;
}
.white {
  padding-top: 60px;
  padding-left: 50px;
  background-color: white;
  height: fit-content;
  color: black;
}
.about-us-text3 {
  margin-left: 50px;
  height: fit-content;
  padding-left: 0px;
}
.about-us-heading3 {
  height: fit-content;
  width: 500px;
  line-height: normal;
  font-family: "Italiana", serif;
  font-size: 60px;
}
.about-us-heading3-content {
  padding-right: 80px;
  padding-top: 30px;
  width: fit-content;
  line-height: 2.6;
  font-family: "Arial", serif;
  text-align: justify;
  font-size: 15px;
}
.about-us-image3 img {
  position: absolute;
  margin-top: 30vh;
}
.about-us-text4 {
  margin-left: 0px;
  height: fit-content;
  padding-left: 0px;
}
.about-us-heading4 {
  height: fit-content;
  width: 570px;
  line-height: normal;
  margin-top: 15vh;
  padding-top: 80px;
  padding-bottom: 50px;
  font-family: "Italiana", serif;
  font-size: 60px;
}
.about-us-heading4-content {
  padding-left: 60px;
  margin-top: 20vh;
  position: relative;
  width: 470px;
  height: fit-content;
  font-family: "Arial", serif;
  text-align: justify;
  font-size: 15px;
}
.about-us-image3 img {
  position: absolute;
  margin-left: 50px;
  margin-top: 3vh;
}
.about-us-image4 {
  height: 300px;
}
.about-us-image4 img {
  position: absolute;
  margin-top: 1vh;
}

.box-body {
  height: fit-content;
  width: fit-content;
  margin-top: 150px;
  margin-left: 50px;
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 50px;
}
.box-inside {
  height: 300px;
  width: 300px;
  text-align: center;
}
.box .figure {
  border-radius: 50%;
}
.about-us-our-team {
  margin: 100px;
  padding-right: 50px;
}
.about-us-our-team-heading {
  height: fit-content;
  width: fit-content;
  font-family: "Italiana", serif;
  font-size: 65px;
  color: white;
  margin-bottom: 50px;
}
.team-member {
  text-align: center;
  color: white;
}
.team-member-name {
  font-size: 32px;
  font-family: "Italiana", serif;
  text-align: center;
}
.team-member-name-description {
  width: 320px;
  font-size: 12px;
  text-align: justify;
}
.about-us-news {
  margin: 60px;
  margin-top: 30px;
  width: fit-content;
  padding-right: 50px;
}
.about-us-news-heading {
  color: #1f2e3f;
  font-size: 60px;
  width: 900px;
  font-family: "Italiana", serif;
}
.about-us-news-heading-right {
  color: #5b6a7d;
}
.about-us-news-heading-right-text {
  font-size: 16px;
  padding: auto;
  margin-top: 20px;
  margin-right: 10px;
  float: right;
  color: #5b6a7d;
}
.about-us-news-heading-right-icon {
  float: right;
  color: #5b6a7d;
}

.about-us-news-heading-right-icon:hover {
  float: right;
  color: #8291a5;
}
hr.about-us-news-line {
  margin-top: 20px;
  border: 2px solid rgb(0, 0, 0);
}

.news-content {
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 40px;
  padding-right: 60px;
}
.news-box {
  padding-right: 25px;
  width: 100px;
  padding: auto;
}
.news-headline {
  color: #1f2e3f;
  font-size: 24px;
  font-weight: bold;
  font-family: "Italiana", serif;
}
.news-content {
  font-size: 10px;
  color: #acb5bf;
  text-align: justify;
}
.news-content button {
  border-radius: 45px;
  padding: auto;
  font-size: 10px;
  color: #acb5bf;
  text-align: justify;
}
.contact-us {
  margin-top: 40px;
  margin-left: 25px;
  padding-right: 60px;
}
.contact-us-heading {
  color: #1f2e3f;
  font-size: 64px;
  text-align: center;
  font-family: "Italiana", serif;
}
.contact-us-content {
  margin-bottom: 40px;
  padding: 50px 100px 10px 100px;
  color: #acb5bf;
}
.contact-us-box {
  padding-right: 50px;
  text-align: left;
}
.contact-us-box .textbox {
  border-radius: 0%;
  border: none;
  border-bottom: 2px solid #959ca3;
}
.contact-us-submit {
  font-weight: bold;
  font-size: 30px;
  border-radius: 45px;
}

/* sajhfbakjsfbkasf */

.footer {
  background-color: #1f2e3f;
  color: #ffffff;
  width: fit-content;
  height: fit-content;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 60px;
}
.footer-col1 {
  margin: auto;
}
.footer-col2 {
  margin-left: 40px;
}
.footer-col3 {
  margin-left: 40px;
}
.footer-col2-heading {
  font-size: 42px;
  font-family: "Italiana", serif;
}
.footer-col3-heading {
  padding-left: 10px;
  font-size: 32px;
  font-family: "Italiana", serif;
}
.footer-col2-address {
  margin-top: 10px;
}
.footer-col2-address-box {
  width: 250px;
}
.footer-col2-address-heading {
  font-weight: 700;
  font-size: 14px;
  padding-top: 10px;
}
.footer-col2-address-content {
  text-align: justify;
  font-size: 14px;
  color: #dad5d5;
}
/* OUR TEAM PAGE */
.our-team-page-block1 {
  position: relative;
  top: 0px;
  background-color: #231f20;
  width: 100vw;
  height: fit-content;
  left: 0px;
}
.our-team-page-image1 img {
  width: 76vw;
  height: 100vh;
}
.our-team-page-text1 {
  position: absolute;
  width: 100vw;
  right: 0px;
}
.our-team-page-heading1 {
  position: absolute;
  top: 300px;
  right: 30px;
  margin-right: 60px;
  z-index: 3;
  text-align: right;
  font-size: 6vw;
  color: white;
}
.our-team-page-heading1-bold {
  font-weight: 700;
}
.our-team-page {
  background-color: white;
  padding-top: 60px;
  padding-left: 8vw;
  padding-right: 8vw;
  height: fit-content;
}
.our-team-page-team-member {
  text-align: center;
  width: fit-content;
  margin-top: 60px;
  position: relative;
}
.our-team-page-team-member .black-in-back {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20px;
  left: -12px;
  z-index: 1;
  background-color: #1f2e3f;
}
.our-team-page-team-member .figure {
  position: relative;
  z-index: 3;
}
.our-team-page-team-member-name {
  font-size: 32px;
  font-family: "Italiana", serif;
  text-align: center;
  color: black;
}
.our-team-page-team-member-name-description {
  width: 320px;
  font-size: 12px;
  text-align: justify;
  font-weight: 500;
  color: black;
}
/* Practice Area Page  */

.practice-area-page {
  background-color: white;
  padding-top: 60px;
  padding-left: 8vw;
  padding-right: 8vw;
  height: fit-content;
}
.practice-area-page-heading {
  width: fit-content;
  font-size: 50px;
  font-family: "Italiana", serif;
  text-align: center;
}
.practice-area-page-heading1::before {
  content: " ";
  width: 10px;
  margin-right: 10px;
  background-color: #1f2e3f;
  height: 70px;
}
.practice-area-page-heading1-description {
  margin-left: 10px;
  margin-right: 10px;
  padding: 40px;
  line-height: 1.1;
  text-align: justify;
  font-size: 40px;
}
.practice-area-page-heading1-list {
  font-size: 50px;
}
.practice-area-page-heading1-list::after {
  content: ".";
  width: 200px;
  height: 330px;
  float: right;
  margin-top: -345px;
  margin-right: -200px;
  background-color: #1f2e3f;
}
.practice-area-page-heading2 {
  font-size: 50px;
  color: white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 45px;
  background-color: #1f2e3f;
}

.practice-area-page-heading2-description {
  margin-left: 10px;
  margin-right: 10px;
  padding: 40px;
  line-height: 1.1;
  text-align: justify;
  font-size: 30px;
}
.practice-area-page-heading2-list {
  font-size: 30px;
}
